.btn{
  padding: 10px 15px;
  outline: none;
  border: none;
  background-color: dodgerblue;
  color: white;
  min-width: 100px; 
  max-width: 130px;
  width: 10%;
  height: 50px;
  margin-top: 50px;
}

.content-block{
  width: 50%;
  height: 300px;
  overflow: scroll;
}